.navigation {
  height: 70px;
  background-color: #262626;
}

.container {
  padding: 15px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  position: relative;
}

.list {
  display: flex;
  align-items: center;
  height: 100%;
}

.listItem {
  margin-right: 40px;
}

.link {
  padding: 24px 0;
  background: #262626;
  color: #ffffff;
  font-size: 20px;
}

.link:hover {
  background-color: #2581dc;
}

.active {
  color: tomato;
}
